# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Ashley Ridley
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [1]:
squares=[number**2 for number in range(1,10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
numbers=[]
numbers.append(1)
numbers.append(4)
numbers.append(9)
numbers.append(16)
numbers.append(25)
numbers.append(36)
numbers.append(49)
numbers.append(64)
numbers.append(81)
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [3]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[6, 5, 9, 9, 3, 7, 3, 3, 8, 5]

In [4]:
min(rand_list)

3

In [5]:
max(rand_list)

9

In [6]:
sum(rand_list)

58

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [7]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [8]:
new_list

[10, ['new', 300, [[3.141, 20], 345]], 'day']

In [9]:
new_list[1][2]

[[3.141, 20], 345]

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [10]:
College=("Bellarmine", "2001 Neuburg RD")

In [11]:
name,address=College

In [12]:
name

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [13]:
age=int(input("Enter the age"))
if age<18:
    print("You are considered a minor")
else:
    print("you are not a minor ")

Enter the age12
You are considered a minor

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [14]:
x= int(input("Enter any number: "))
if x% 2!= 0:
    if x>10:
        print("The number is odd and also greater than 10")
    else:
        print("The number is odd and less than 10")
else:
    print("The number is an even number")

Enter any number: 13
The number is odd and also greater than 10

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [15]:
n = int(input("Enter a number: "))
if n%11==0:
    print("Number is multiple of 11")
else:
    print("Number is not multiple of 11")

Enter a number: 22
Number is multiple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [16]:
keys = [10, 20, 30]

In [17]:
values =['Ten', 'Twenty', 'Thirty']

In [18]:
list(zip(keys,values))

[(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')]

In [20]:
dict(zip(keys,values)) #this is the answer

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [36]:
n=int(input("Enter any number: "))
a=int(input("Enter any number: "))
t=int(input("Enter any number: "))
numbers=[]
numbers.append(n)
numbers.append(a)
numbers.append(t)
def addition(*args):
    return sum(args)

Enter any number: 12
Enter any number: 24
Enter any number: 32

In [34]:
print(numbers)

[22, 3, 5]

In [35]:
max(numbers)

22

In [37]:
print(numbers)

[12, 24, 32]

In [38]:
max(numbers)

32

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [39]:
l=int(input("Length : "))
w=int(input("Width : "))
area=l*w
perimeter=2*(l+w)
print("Area of Rectangle : ",area)
print("Perimeter of Rectangle : ",perimeter)

Length : 12
Width : 6
Area of Rectangle :  72
Perimeter of Rectangle :  36

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [45]:
i = 10
while(i<=20):
    print(i)
    i += 1

10
11
12
13
14
15
16
17
18
19
20

In [42]:
for i in range(10, 21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20